#### Sử dụng thư viện Pandas:

Cài đặt: conda install pandas 

- Xử lý file csv

In [4]:
import pandas as pd
print(pd.__version__)

1.4.4

In [5]:
# Đọc file CSV

# df = DataFrame
df = pd.read_csv('Data/iris.csv')
# Đọc file mà dòng đầu tiên không có tiêu đề
# thì cần thay đổi 1 ít tham số

In [6]:
# Xem nội dung 5 dòng dữ liệu đầu tiên
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [23]:
# Xem nội dung 3 dòng dữ liệu cuối
df.tail(3)

     sepal.length  sepal.width  petal.length  petal.width    variety
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [9]:
# Lấy danh sách tên các cột dữ liệu
column_name = list(df.columns)
column_name

['sepal.length', 'sepal.width', 'petal.length', 'petal.width', 'variety']

In [11]:
# Lấy ra cột chứa đặt trưng đài hoa (sepal)
sepal_length = df['sepal.length']
sepal_length

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal.length, Length: 150, dtype: float64

In [12]:
# Tính thử giá trị mean - trung bình
sepal_length.mean()

5.843333333333335

In [13]:
# Tính thử giá trị lớn nhất
sepal_length.max()

7.9

In [15]:
# Lấy giá trị median - trung vị
sepal_length.median()
# Nếu số lượng PT lẻ thì sắp xếp lấy giữa
# nếu số lượng PT chẵn thì sắp xếp, lấy 2 giữa cộng lại chia 2

5.8

In [19]:
# Lấy dữ liệu của N dòng đầu tiên
# Lấy thông qua tên Index
# loc = location
rows = df.loc[:1] # Lấy từ đầu đến Index = 1
rows

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa

In [22]:
# Lấy dữ liệu thông qua vị trí
# iloc = integer location
rows = df.iloc[-5:] # Lấy 5 dòng dữ liệu cuối
rows

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [21]:
# Lấy 1 lát cắt / 1 khoảng dữ liệu nào đó
rows = df.iloc[5:10]
rows

   sepal.length  sepal.width  petal.length  petal.width variety
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

### Lọc dữ liệu từ DataFrame

In [49]:
# Lọc tất cả các dòng dữ liệu có nhãn 'Virginica' và có sepal.width = 3
# AND = &, OR = | , NOT = ~, XOR = ^
Virginica_sample = df[(df['variety'] == 'Virginica') & (df['sepal.width'] == 3)]
Virginica_sample

     sepal.length  sepal.width  petal.length  petal.width    variety  average
102           7.1          3.0           5.9          2.1  Virginica    4.525
104           6.5          3.0           5.8          2.2  Virginica    4.375
105           7.6          3.0           6.6          2.1  Virginica    4.825
112           6.8          3.0           5.5          2.1  Virginica    4.350
116           6.5          3.0           5.5          1.8  Virginica    4.200
127           6.1          3.0           4.9          1.8  Virginica    3.950
129           7.2          3.0           5.8          1.6  Virginica    4.400
135           7.7          3.0           6.1          2.3  Virginica    4.775
138           6.0          3.0           4.8          1.8  Virginica    3.900
145           6.7          3.0           5.2          2.3  Virginica    4.300
147           6.5          3.0           5.2          2.0  Virginica    4.175
149           5.9          3.0           5.1          1.8  Virginica    3.950

In [33]:
# Lọc tất cả các dòng dữ liệu có kích thước đài hoa > 5.5
Virginica_sample = df[df['sepal.length'] > 5.5]
Virginica_sample

     sepal.length  sepal.width  petal.length  petal.width     variety
14            5.8          4.0           1.2          0.2      Setosa
15            5.7          4.4           1.5          0.4      Setosa
18            5.7          3.8           1.7          0.3      Setosa
50            7.0          3.2           4.7          1.4  Versicolor
51            6.4          3.2           4.5          1.5  Versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3   Virginica
146           6.3          2.5           5.0          1.9   Virginica
147           6.5          3.0           5.2          2.0   Virginica
148           6.2          3.4           5.4          2.3   Virginica
149           5.9          3.0           5.1          1.8   Virginica

[91 rows x 5 columns]

### Tạo thêm dữ liệu mới

In [39]:
# Tạo cột mới = Trung bình của 4 đặc trưng
df['average'] = (df['sepal.width'] + df['sepal.length'] +df['petal.width'] +df['petal.length'])/4
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety  average
0           5.1          3.5           1.4          0.2  Setosa    2.550
1           4.9          3.0           1.4          0.2  Setosa    2.375
2           4.7          3.2           1.3          0.2  Setosa    2.350
3           4.6          3.1           1.5          0.2  Setosa    2.350
4           5.0          3.6           1.4          0.2  Setosa    2.550